html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: lightgrey;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.top-navigation {
    background-color: #fff;
	position: fixed;
	width: 100%;
}

.top-navigation > .content,
.introduction > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
   	padding: 0px 15px;
}

.top-navigation .links {
/*	float: right; */
	margin-top: -50px;
	padding-left: 250px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: subpixel-antialiased;
}

.links > li {
	display: inline-block;
	list-style-type: none;
	margin-left: 25px;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links > li:hover{
	cursor: pointer;
	color: #333333;
}

.logo {
	width: 26px;
	height: 70px;
}

.introduction {
	text-align: center;
	color: #fff;
	background-image: url(../img/first-background.jpg);
	background-position: 50%;
	height: 45.938rem;
}

.intro-language {
	font-size: 3.125rem;
	padding-top: 6.5em;
}

.introduction > h3 {
    margin-top: 1.25rem;
    font-size: 1.563rem;
}

.introduction .learn-button {
	border-radius: 5px;
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    padding: 10px 20px;
    color: white;
    font-size: 1.25rem;
    border-style: none;
}

button {

}

background-color: #d9400e;
    border-color: #cf3d0e;