html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background: lightgrey;

}

.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
   	padding: 0px 15px;
}

.top-navigation .links {
/*	float: right; */
	margin-top: -50px;
	padding-left: 250px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: subpixel-antialiased;
}

.links > li {
	display: inline-block;
	list-style-type: none;
	margin-left: 25px;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links > li:hover{
	cursor: pointer;
	color: #333333;
}

.logo {
	width: 26px;
	height: 70px;
}